<ion-header>
  <ion-toolbar>
    <ion-title>Header Toolbar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Login Page</h1>
  <ion-item>
    <ion-label>Default</ion-label>
    <ion-spinner></ion-spinner>
  </ion-item>
  <ion-button>Completar</ion-button>
  <ion-toast trigger="open-toast" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>